# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datasets and heavy files
data/
*.raw
*.wav
*.mp4
*.zip
*.tar.gz

# Node/Frontend
node_modules/
package-lock.json

# Checkpoints (Optional depending on LFS usage, ignoring by default)
checkpoints/

# IDEs and Editors
.vscode/
.idea/
*.swp
.obsidian/
